/** banner-skin */
@keyframes fadeIn{
    from{opacity:0}
    to{opacity:1}
}
@keyframes scaleIn {
    from {transform: scale(1.2);}
    to {transform: scale(1);}
}
.banner {
    position:relative;
    overflow: hidden;
    .nav-wrap {
        position: absolute;
        left:0; bottom:0;
        width: 100%;
        padding: 20px;
    }
    .fixed {
        position: fixed;
        top: 0;
        bottom: auto;
        background: rgba(0, 0, 0, .7);
        z-index: 9;
    }
}
.banner01 {
    &.init {
        .slide { animation:fadeIn 2s ease; }
    }
}
.banner02, .banner02-1, .banner03 {
    position: relative;
    .figure {
        @extend %abs-full;
        @extend %bg-cover;
    }
    .text {
        transform: translate(0,-50%);
        position: absolute;
        left:0; top:50%;
        width:100%;
        color:#fff;
        text-align: center;
    }
    &.init {
        .figure { animation:scaleIn 5s ease;}
    }
}
.banner02, .banner02-1 {
    height: 0;
    //min-height: 180px;
    min-height: 200px;
    padding: 0 0 27.85714%;
    overflow: visible;
}
.banner02-1 {
    .figure-wrap {
        @extend %abs-full;
        overflow: hidden;
    }
}
.banner03 {
    display: none;
    height: 190px;
}
@media screen and (min-width: 768px) {
    .banner03 { display: block; }
}
@media screen and (min-width: 769px) {
    .banner {
        .nav-wrap { padding: 0; }
        .fixed {
            position: absolute;
            bottom: 0; top: auto;
            background: none;
        }
    }
}
@media screen and (min-width: 1200px) {
    .banner02, .banner02-1 {
        padding:0;
        height: 390px;
    }
}